debug/
target/

Cargo.lock

**/*.rs.bk

*.pdb
/library/tests/out
.idea/workspace.xml
/.caches
/debug_output
library/shader/_run_tests.exe
/library/font/node_modules
library/font/package.json
library/font/glyphs_atlas.*
